!!! 5
%html{ :lang => "en"}
  %head
    %title= "omniauth salesforce example"
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1"}
  %body
    #page{:"data-role" => "page", :"data-title" => "omniauth salesforce example"}
      #header{ :"data-role" => "header"}
        %h1 omniauth salesforce example
      #content{ :"data-role" => "content"}
        = yield
